* {
  margin: 0;
  padding: 0; }

/*index*/
/*BACKGROUNDS*/
/*GENERAL FONTS*/
/*SPECIFIC FONTS*/
.mainGrid {
  display: grid;
  grid-template-areas: "nav nav nav" "content content content" "slogan slogan slogan" "mainInfo mainInfo mainInfo" "carrousel carrousel carrousel" "contact contact contact" "footer footer footer"; }
  .mainGrid .nave {
    grid-area: nav; }
  .mainGrid .content {
    grid-area: content; }
  .mainGrid .slogan {
    grid-area: slogan; }
  .mainGrid .mainInfo {
    grid-area: mainInfo; }
  .mainGrid .carrousel {
    grid-area: carrousel; }
  .mainGrid .contact {
    grid-area: contact; }
  .mainGrid .footer {
    grid-area: footer; }
  .mainGrid .sticky__Item {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-evenly;
    top: 0%;
    background-color: white; }

header {
  display: flex;
  justify-content: center;
  margin-top: 2%; }
  header .mainHeader__mainTitle {
    font-size: 1.7rem;
    font-family: "Martel", serif;
    color: black;
    text-decoration: none;
    font-weight: bold; }
  header .tracking-in-expand-fwd-top {
    -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1); }
  header .mainHeader__linksNav:hover {
    color: #e4bbcc;
    border-bottom: 1px solid black;
    border-top: 1px solid black; }

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

/*PC's*/
@media (min-width: 981px) and (max-width: 2400px) {
  header {
    margin-top: 1%; }
    header .mainHeader__mainTitle {
      font-size: 2rem; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  header {
    margin-top: 1%; }
    header .mainHeader__mainTitle {
      font-size: 3.5rem; } }

nav {
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  font-family: "Martel", serif;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 1%; }
  nav .hoverNav:hover .absoluteNav {
    display: block;
    position: absolute;
    text-align: center; }
  nav .absoluteNav {
    display: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    background-color: #e7dede; }
  nav .absoluteNav:hover .product {
    display: block;
    position: relative;
    background-color: #c7abba;
    padding: 2%;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 1.5%; }
  nav .productNav {
    padding: 5%; }
  nav .product {
    display: none; }
  nav .reMarginedList {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style-type: none; }
  nav .linksNav {
    color: black;
    text-decoration: none;
    font-family: "Martel", serif;
    font-size: 0.9rem;
    font-weight: bold; }
  nav .linksNav:hover {
    color: #e4bbcc;
    border-bottom: 1px solid black;
    border-top: 1px solid black; }

.blur-out-expand {
  -webkit-animation: blur-out-expand 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse;
  animation: blur-out-expand 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse; }

/* ----------------------------------------------
 * Generated by Animista on 2021-8-12 5:55:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation blur-out-expand
 * ----------------------------------------
 */
@-webkit-keyframes blur-out-expand {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01); }
  100% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%); } }

@keyframes blur-out-expand {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01); }
  100% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%); } }

/*PC's*/
@media (min-width: 981px) and (max-width: 2400px) {
  nav {
    font-size: 1.2rem; }
    nav .linksNav {
      color: black;
      text-decoration: none;
      font-family: "Martel", serif;
      font-size: 1.2rem;
      font-weight: bold; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  nav {
    font-size: 2rem; }
    nav .linksNav {
      color: black;
      text-decoration: none;
      font-family: "Martel", serif;
      font-size: 2rem;
      font-weight: bold; } }

.content {
  width: 100%; }
  .content .content__landingSection {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%; }
  .content .content__landingImage-A {
    width: 100%; }
  .content .content__landingImage-B {
    width: 100%; }

.slogan .slogan__catchyPhrase {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding-top: 2%;
  width: 100%;
  background-image: linear-gradient(to bottom, white, #c7abba); }

.slogan .slogan__sloganClass {
  font-size: 1.2rem;
  font-family: "Martel", serif;
  font-weight: bold; }

/*PC's*/
@media (min-width: 981px) and (max-width: 2400px) {
  .slogan .slogan__sloganClass {
    font-size: 1.5rem; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  .slogan .slogan__sloganClass {
    font-size: 3rem; } }

.mainInfo .main__mainInfoFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  font-size: 1rem;
  font-family: "Martel", serif;
  font-weight: bold;
  background-color: #c7abba;
  padding-bottom: 1%; }
  .mainInfo .main__mainInfoFlex .main__individualCol {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    text-align: center; }
    .mainInfo .main__mainInfoFlex .main__individualCol .main__miniImage {
      display: flex;
      flex-direction: row;
      align-items: flex-start; }
      .mainInfo .main__mainInfoFlex .main__individualCol .main__miniImage .main__miniImage-Try {
        width: 70%; }

/*responsive*/
/*pc*/
@media (min-width: 981px) and (max-width: 2400px) {
  .resizeParagraph {
    font-size: 1.4rem; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  .resizeParagraph {
    font-size: 2.5rem; } }

.carrousel {
  display: flex;
  justify-content: center;
  background-color: #c7abba;
  position: relative; }
  .carrousel .carrousel__resizeImage {
    width: 98vw; }

.contact .fieldSet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid black;
  padding: 1%;
  background-image: url(../images/backgroundcontact.jpg); }
  .contact .fieldSet:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .contact .fieldSet h3 {
    text-align: center;
    font-size: 1.4rem;
    font-family: "Martel", serif;
    font-weight: bold; }
  .contact .fieldSet .shadow-drop-2-center {
    font-size: 0.9rem;
    font-family: "Martel", serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around; }
  .contact .fieldSet .whappImage {
    height: 20%;
    width: 20%; }
  .contact .fieldSet .contactButtons {
    display: flex;
    flex-direction: row; }
    .contact .fieldSet .contactButtons .buttonForm {
      width: 50%;
      background-color: #e4bbcc;
      border: none; }

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

/*PC's*/
@media (min-width: 981px) and (max-width: 2400px) {
  .contact .fieldSet h3, .contact .fieldSet .shadow-drop-2-center {
    font-size: 1.3rem; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  .contact .fieldSet h3, .contact .fieldSet .shadow-drop-2-center {
    font-size: 3rem; } }

.footer {
  background: linear-gradient(179deg, #c7abba, #ffffff);
  background-size: 400% 400%;
  animation: AnimationName 8s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Martel", serif;
  font-weight: bold;
  position: relative;
  text-align: center;
  flex-wrap: nowrap;
  margin-top: 0.5%; }
  .footer .flexFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .footer .flexFooter .resizeFooterImages {
      max-width: 30%;
      margin: 1px; }
    .footer .flexFooter .footer__links {
      padding: 0.5%; }
      .footer .flexFooter .footer__links .footer__linksNav {
        color: black;
        text-decoration: none;
        font-family: "Martel", serif;
        font-size: 1.2rem;
        font-weight: bold; }
      .footer .flexFooter .footer__links .footer__linksNav:hover {
        color: #e4bbcc;
        border-bottom: 1px solid black;
        border-top: 1px solid black; }
  .footer .footer__credits .footer__linksNav, .footer .footer__credits .footer__credits--text {
    color: black;
    text-decoration: none;
    font-family: "Martel", serif;
    font-size: 0.8rem;
    font-weight: bold; }
  .footer .footer__credits .footer__linksNav:hover {
    color: #e4bbcc;
    border-bottom: 1px solid black;
    border-top: 1px solid black; }
  .footer .resizeFooter {
    font-size: 1.2rem;
    margin-bottom: 0%; }
  .footer .footer__copy .footer__copy--rights {
    font-size: 1rem; }

@keyframes AnimationName {
  0% {
    background-position: 92% 0%; }
  50% {
    background-position: 9% 100%; }
  100% {
    background-position: 92% 0%; } }

/*PC's*/
@media (min-width: 981px) and (max-width: 2400px) {
  .footer {
    font-size: 1rem; }
    .footer .footer__linksNav {
      color: black;
      text-decoration: none;
      font-family: "Martel", serif;
      font-size: 2rem;
      font-weight: bold; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  .footer .flexFooter .footer__linksNav {
    color: black;
    text-decoration: none;
    font-family: "Martel", serif;
    font-size: 3rem;
    font-weight: bold; }
  .footer .flexFooter .footer__credits .footer__linksNav, .footer .flexFooter .footer__credits .footer__credits--text {
    color: black;
    text-decoration: none;
    font-family: "Martel", serif;
    font-size: 2rem;
    font-weight: bold; }
  .footer .flexFooter .footer__credits .footer__linksNav:hover {
    color: #e4bbcc;
    border-bottom: 1px solid black;
    border-top: 1px solid black; }
  .footer .flexFooter .resizeFooter {
    font-size: 2rem;
    margin-bottom: 0%; }
  .footer .flexFooter .footer__copy .footer__copy--rights {
    font-size: 1.8rem; } }

/*tablets*/
/*PC's*/
/*4k*/
.breadCrumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-top: 1px solid black;
  background-color: #e4bbcc; }
  .breadCrumbs .breadCrumbs__list {
    display: flex;
    justify-content: space-around;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    width: 100%; }
    .breadCrumbs .breadCrumbs__list .breadCrumbs__list--item {
      list-style: none;
      padding: 1%;
      color: black;
      text-decoration: none;
      font-family: "Martel", serif;
      font-size: 0.9rem;
      font-weight: bold; }
      .breadCrumbs .breadCrumbs__list .breadCrumbs__list--item a {
        color: black;
        text-decoration: none;
        font-family: "Martel", serif;
        font-size: 0.9rem;
        font-weight: bold; }
      .breadCrumbs .breadCrumbs__list .breadCrumbs__list--item a:hover {
        color: #e4bbcc;
        border-bottom: 1px solid black;
        border-top: 1px solid black; }

@media (min-width: 981px) and (max-width: 2400px) {
  .breadCrumbs .breadCrumbs__list .breadCrumbs__list--item {
    font-size: 0.9rem; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  .breadCrumbs .breadCrumbs__list .breadCrumbs__list--item {
    font-size: 2rem; }
    .breadCrumbs .breadCrumbs__list .breadCrumbs__list--item a {
      color: black;
      text-decoration: none;
      font-family: "Martel", serif;
      font-size: 2rem;
      font-weight: bold; }
    .breadCrumbs .breadCrumbs__list .breadCrumbs__list--item a:hover {
      color: #e4bbcc;
      border-bottom: 1px solid black;
      border-top: 1px solid black; } }

/*Products*/
.productGrid {
  display: grid;
  grid-template-areas: " nav       nav      nav " " content content content" "slogan   slogan   slogan" "mainInfo mainInfo mainInfo" " buybutton buybutton buybutton" "breadCrumbs breadCrumbs breadCrumbs"  " footer   footer  footer";
  width: 100vw; }
  .productGrid .nave {
    grid-area: nav; }
  .productGrid .content {
    grid-area: content; }
  .productGrid .slogan {
    grid-area: slogan; }
  .productGrid .mainInfo {
    grid-area: mainInfo; }
  .productGrid .buyButtonGrid {
    grid-area: buybutton; }
  .productGrid .breadCrumbs {
    grid-area: breadCrumbs; }
  .productGrid .footer {
    grid-area: footer; }
  .productGrid .sticky__Item {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-evenly;
    top: 0%;
    background-color: white; }

.content .productSample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; }
  .content .productSample .productSampleA {
    max-width: 100%; }

@media (min-width: 517px) and (max-width: 10000px) {
  .content .productSample {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: inherit; }
    .content .productSample .productSampleA {
      width: 33.3333%; } }

.description {
  background-color: white; }
  .description .description__text {
    font-size: 0.8rem;
    font-family: "Martel", serif;
    font-weight: bold;
    text-align: center; }

@media (min-width: 981px) and (max-width: 2400px) {
  .description .description__text {
    font-size: 1.4rem; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  .description .description__text {
    font-size: 2.2rem; } }

.buyButtonGrid {
  display: flex;
  justify-content: center;
  margin: 1%; }
  .buyButtonGrid .buyButton__Box {
    width: 100%; }
    .buyButtonGrid .buyButton__Box .buy__Button {
      width: 100%;
      padding: 3%;
      border-radius: 12px;
      background-color: #c7abba; }

@media (min-width: 981px) and (max-width: 2400px) {
  .buyButtonGrid .buyButton__Box .buy__Button {
    font-size: 1rem; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  .buyButtonGrid .buyButton__Box .buy__Button {
    font-size: 2.4rem; } }

.slogan .slogan__Product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding-top: 2%;
  width: 100%; }

.slogan .slogan__ProductClass {
  font-size: 1.2rem;
  font-family: "Martel", serif;
  font-weight: bold; }

@media (min-width: 981px) and (max-width: 2400px) {
  .slogan .slogan__ProductClass {
    font-size: 1.5rem; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  .slogan .slogan__ProductClass {
    font-size: 3rem; } }

/*Envio*/
.enviosGrid {
  grid-template-areas: "nav nav nav nav" "info info info info" "wayOfMap wayOfMap wayOfMap wayOfMap"  "breadCrumbs breadCrumbs breadCrumbs breadCrumbs" "footer footer footer footer"; }
  .enviosGrid .nave {
    grid-area: nav; }
  .enviosGrid .infoShp {
    grid-area: info; }
  .enviosGrid .wayOfMap {
    grid-area: wayOfMap; }
  .enviosGrid .breadCrumbs {
    grid-area: breadCrumbs; }
  .enviosGrid .footer {
    grid-area: footer; }
  .enviosGrid .sticky__Item {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-evenly;
    top: 0%;
    background-color: white; }

.shippingFlex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  background-color: #e4bbcc; }
  .shippingFlex .shippingRow {
    display: flex;
    flex-direction: row;
    justify-content: stretch; }
    .shippingFlex .shippingRow .resizeLeft {
      width: 50%; }
    .shippingFlex .shippingRow .enviosRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 50%; }
      .shippingFlex .shippingRow .enviosRight .resizeTitles {
        font-size: 1.2rem;
        font-family: "Martel", serif; }
      .shippingFlex .shippingRow .enviosRight div .shippingForm {
        font-family: "Martel", serif;
        font-weight: bold; }

.wayOfMap {
  background-color: #e4bbcc; }
  .wayOfMap .enviosRight, .wayOfMap .text-focus-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .wayOfMap .enviosRight .resizeTitles, .wayOfMap .text-focus-in .resizeTitles {
      font-size: 1.2rem;
      font-family: "Martel", serif; }

@media (min-width: 981px) and (max-width: 2400px) {
  .wayOfMap .enviosRight .resizeTitles, .shippingFlex .enviosRight .resizeTitles {
    font-size: 1.8rem; }
  .wayOfMap .enviosRight p, .shippingFlex .enviosRight p {
    font-size: 1.6rem; }
  .wayOfMap .enviosRight .shippingForm, .shippingFlex .enviosRight .shippingForm {
    font-size: 1rem; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  .wayOfMap .enviosRight .resizeTitles, .shippingFlex .enviosRight .resizeTitles {
    font-size: 2.5rem; }
  .wayOfMap .enviosRight p, .shippingFlex .enviosRight p {
    font-size: 2rem; }
  .wayOfMap .enviosRight .shippingForm, .shippingFlex .enviosRight .shippingForm {
    font-size: 1.8rem; } }

/*whoWeAre*/
.whoGrid {
  display: grid;
  grid-template-areas: "nav nav nav" "content content content" "slogan slogan slogan" "mainInfo mainInfo mainInfo" "contact contact contact" "breadCrumbs breadCrumbs breadCrumbs" "footer footer footer"; }
  .whoGrid .nave {
    grid-area: nav; }
  .whoGrid .content {
    grid-area: content; }
  .whoGrid .slogan {
    grid-area: slogan; }
  .whoGrid .whoWeAre {
    grid-area: mainInfo; }
  .whoGrid .contact {
    grid-area: contact; }
  .whoGrid .breadCrumbs {
    grid-area: breadCrumbs; }
  .whoGrid .footer {
    grid-area: footer; }
  .whoGrid .sticky__Item {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-evenly;
    top: 0%;
    background-color: white; }

.whoWeAre {
  background-color: white;
  display: flex;
  justify-content: center; }
  .whoWeAre .whoWeAre__text {
    font-size: 0.8rem;
    font-family: "Martel", serif;
    font-weight: bold;
    text-align: center; }

.contactFormW {
  display: flex;
  width: 100%; }
  .contactFormW .fieldSet {
    width: 100%; }
  .contactFormW .contactRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

@media (min-width: 981px) and (max-width: 2400px) {
  .whoWeAre .whoWeAre__text {
    font-size: 1.3rem; } }

/*4k*/
@media (min-width: 2401px) and (max-width: 10000px) {
  .whoWeAre .whoWeAre__text {
    font-size: 2rem; } }

.whoarewe .content__landingSection {
  display: flex;
  justify-content: center; }
  .whoarewe .content__landingSection .content__landingSection--icon {
    width: 30%;
    height: 30%;
    position: inherit; }

.flexError {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .flexError a {
    color: black;
    text-decoration: none;
    font-family: "Martel", serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center; }
  .flexError a:hover {
    color: #e4bbcc;
    border-bottom: 1px solid black;
    border-top: 1px solid black; }
