.content{
    .content__landingSection{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        }
        .content__landingImage-A{
            width: 100%;
        }
        .content__landingImage-B{
            width: 100%;
        }
    }