.flexError{
    display: flex;
    flex-direction: column;
    justify-content: center;
    a{
        @include link;
        text-align: center;
        .slogan{
            color:$darkerBackground;
        }
    }
    a:hover{
        @include linkHover;
    }
}